 /*!
	Theme Name: Premier 2016
	Theme URI: http://premierinc.com
	Description: Premier Inc. 2016 Wordpress Theme
	Version: 0.0.1
	Author: David Olson
	Author URI: http://davidolsondesigns.com
	Tags: Healthcare, Custom

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/
 /*------------------------------------*\
    MAIN
\*------------------------------------*/
 /* global box-sizing */
 
 *,
 *:after,
 *:before {
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
     text-rendering: optimizeLegibility;
 }
 /* html element 62.5% font-size for REM use */
 
 html {
     font-size: 62.5%;
     background-color: #efefef;
 }
 
 .js .wrapper {
     opacity: 0;
     transition: opacity ease-out .25s;
 }
 
 .white_unload {
     display: none;
     width: 100%;
     height: 100%;
     position: fixed;
     background-color: #ffffff;
 }
 
 body {
     font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
     color: #555;
     background-color: #ffffff;
 }
 /* clear */
 
 .clear:before,
 .clear:after {
     content: ' ';
     display: table;
 }
 
 .clear:after {
     clear: both;
 }
 
 .clear {
     *zoom: 1;
 }
 
 img {
     max-width: 100%;
     vertical-align: bottom;
 }
 
 a {
     color: #444;
     text-decoration: none;
 }
 
 a:hover {
     color: #444;
 }
 
 a:focus {
     outline: 0;
 }
 
 a:hover,
 a:active {
     outline: 0;
 }
 
 input:focus {
     outline: 0;
     border: 1px solid #04A4CC;
 }
 /*------------------------------------*\
    Typography
\*------------------------------------*/
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 span,
 a,
 button {
     margin-top: 0;
 }
 
 @font-face {
     font-family: 'icomoon';
     src: url('./assets/fonts/icomoon.eot?kjs27c');
     src: url('./assets/fonts/icomoon.eot?kjs27c#iefix') format('embedded-opentype'), url('./assets/fonts/icomoon.ttf?kjs27c') format('truetype'), url('./assets/fonts/icomoon.woff?kjs27c') format('woff'), url('./assets/fonts/icomoon.svg?kjs27c#icomoon') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 
 [class^="icon-"],
 [class*=" icon-"] {
     /* use !important to prevent issues with browser extensions that change fonts */
     font-family: 'icomoon' !important;
     speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
     /* Better Font Rendering =========== */
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }
 
 .icon-smile:before {
     content: "\e9e1";
 }
 
 .icon-shocked:before {
     content: "\e9f1";
 }
 
 .icon-frustrated:before {
     content: "\e9ff";
 }
 
 .icon-circle-up:before {
     content: "\ea41";
 }
 
 .icon-circle-right:before {
     content: "\ea42";
 }
 
 .icon-circle-down:before {
     content: "\ea43";
 }
 
 .icon-circle-left:before {
     content: "\ea44";
 }
 
 .icon-facebook:before {
     content: "\ea90";
 }
 
 .icon-twitter:before {
     content: "\ea96";
 }
 /*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
 /* wrapper */
 
 .wrapper {
     //	max-width:1280px;
     //	width:95%;
     margin: 0 auto;
     position: relative;
 }
 /* header */
 
 .header {
     background-color: rgba(0, 0, 0, 0.5);
     position: absolute;
     top: 0;
     z-index: 99;
     width: 100%;
     //     logo
     .logo {
         padding: 20px;
         display: inline-block;
         box-sizing: border-box;
     }
     //     nav
     .nav {
         display: inline-block;
         color: #ffffff;
         float: right;
         padding: 20px;
         &:after {
             display: block;
             content: '';
             clear: both;
         }
         .sub-menu {
             display: none;
             position: absolute;
             left: 0;
             background-color: rgba(20, 20, 20, 0.5);
             width: 100%;
             height: 0px;
             overflow: hidden;
             //             transition: all ease-out .25s;
             z-index: 100;
             padding: 0;
             margin: 0;
             li {
                 margin: 0;
                 padding: 0;
                 display: block;
                 width: 50%;
                 float: left;
                 &:last-of-type:after {
                     content: '';
                     display: block;
                     clear: both;
                 }
                 a {
                     display: block;
                     margin: 0;
                     padding-top: 38px;
                     padding-bottom: 38px;
                     width: 100%;
                     box-sizing: border-box;
                     text-align: center;
                     background-color: rgba(255, 255, 255, 0.25);
                     transition: all ease-out .25s;
                     &:hover {
                         background-color: rgba(255, 255, 255, 0.4);
                     }
                 }
             }
         }
         ul {
             display: block;
             list-style: none;
             padding: 0;
             li {
                 display: inline-block;
                 padding-right: 20px;
             }
         }
         a {
             color: #ffffff;
             font-size: 18px;
             transition: all ease-out .25s;
             cursor: pointer;
             &:hover {
                 color: #dddddd;
             }
             &:active,
             &:focus {
                 color: #dddddd;
             }
         }
         .menu-item-has-children > a:after {
                 position: absolute;
                 left: -100000px;
                 top: auto;
                 width: 1px;
                 height: 1px;
                 overflow: hidden;
                 content: ', Click to expand sub navigation.';
             }
     }
 }
 /* subnav */
 
 .sub_nav {
     ul {
         display: block;
         margin: 0;
         padding: 0;
         list-style: none;
         font-size: 1.5em;
         font-weight: 300;
     }
     li span {
         display: block;
     }
     a {
         display: block;
         color: rgba(249, 249, 249, .9);
         text-decoration: none;
         transition: color ease-out .25s, background ease-out .25s, height ease-out .25s;
     }
     a,
     button {
         -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     }
     i {
         transform: translate3d(0, 0, 0);
     }
     li:nth-child(6n+1) {
         background: rgb(208, 101, 3);
     }
     li:nth-child(6n+2) {
         background: rgb(233, 147, 26);
     }
     li:nth-child(6n+3) {
         background: rgb(22, 145, 190);
     }
     li:nth-child(6n+4) {
         background: rgb(22, 107, 162);
     }
     li:nth-child(6n+5) {
         background: rgb(27, 54, 71);
     }
     li:nth-child(6n+6) {
         background: rgb(21, 40, 54);
     }
 }
 
 .no-touch .sub_nav ul:hover a {
     color: rgba(249, 249, 249, .5);
 }
 
 .no-touch .sub_nav ul:hover a:hover {
     color: rgba(249, 249, 249, 0.99);
 }
 
 @media (min-width: 50em) {
     .sub_nav li {
         float: left;
         //         width: 33.333%;
         text-align: center;
         transition: border ease .5s;
     }
     .sub_nav {
         position: relative;
         z-index: 999;
         ul:after {
             display: block;
             content: '';
             clear: both;
         }
     }
     .sub_nav:after {
         display: block;
         content: '';
         clear: both;
     }
     .sub_nav {
         li.col_1 {
             width: 100%;
         }
         li.col_2 {
             width: 50%;
         }
         li.col_3 {
             width: 33.333%;
         }
         li.col_4 {
             width: 25%;
         }
     }
     .sub_nav_drawer {
         .sub_nav_list {
             display: block;
             width: 100%;
             margin: 0 auto;
             padding: 0;
             //             position: absolute;
             z-index: 5;
             li {
                 display: inline-block;
                 list-style: none;
                 padding: 15px;
                 box-sizing: border-box;
                 text-align: center;
                 transition: all ease-out .25s;
                 cursor: pointer;
                 //                 position: relative;
                 &:hover {
                     background-color: #cccccc;
                 }
             }
             li.col_1 {
                 width: 100%;
             }
             li.col_2 {
                 width: 50%;
             }
             li.col_3 {
                 width: 33.3333%;
             }
             li.col_4 {
                 width: 25%;
             }
         }
     }
     .sub_nav a {
         display: block;
         width: auto;
     }
     .no-touch .sub_nav li:nth-child(6n+1) a:hover::after,
     .no-touch .sub_nav li:nth-child(6n+1) a:active::after,
     .no-touch .sub_nav li:nth-child(6n+1) a:focus::after {
         bottom: -5px;
     }
     .no-touch .sub_nav li:nth-child(6n+2) a:hover::after,
     .no-touch .sub_nav li:nth-child(6n+2) a:active::after,
     .no-touch .sub_nav li:nth-child(6n+2) a:focus::after {
         bottom: -5px;
     }
     .no-touch .sub_nav li:nth-child(6n+3) a:hover::after,
     .no-touch .sub_nav li:nth-child(6n+3) a:active::after,
     .no-touch .sub_nav li:nth-child(6n+3) a:focus::after {
         bottom: -5px;
     }
     .no-touch .sub_nav li:nth-child(6n+4) a:hover::after,
     .no-touch .sub_nav li:nth-child(6n+4) a:active::after,
     .no-touch .sub_nav li:nth-child(6n+4) a:focus::after {
         bottom: -5px;
     }
     .no-touch .sub_nav li:nth-child(6n+5) a:hover::after,
     .no-touch .sub_nav li:nth-child(6n+5) a:active::after,
     .no-touch .sub_nav li:nth-child(6n+5) a:focus::after {
         bottom: -5px
     }
     .no-touch .sub_nav li:nth-child(6n+6) a:hover::after,
     .no-touch .sub_nav li:nth-child(6n+6) a:active::after,
     .no-touch .sub_nav li:nth-child(6n+6) a:focus::after {
         bottom: -5px;
     }
     .sub_nav_links:after {
         content: '';
         width: 100%;
         height: 25px;
         display: block;
         position: relative;
         bottom: 15px;
         left: 50%;
         z-index: -1;
         transform: translateX(-50%);
         transition: all ease-out .25s;
         border-bottom: rgba(0, 0, 0, 0.2) 5px solid;
     }
     .no-touch .sub_nav li:nth-child(6n+1) a:after {
         background: rgb(208, 101, 3);
     }
     .no-touch .sub_nav li:nth-child(6n+2) a:after {
         background: rgb(233, 147, 26);
     }
     .no-touch .sub_nav li:nth-child(6n+3) a:after {
         background: rgb(22, 145, 190);
     }
     .icon {
         padding-top: 1.4em;
     }
     .icon + span {
         margin-top: 2.1em;
         transition: margin .25s;
     }
     .sub_nav a {
         height: 9em;
     }
     .no-touch {
         .sub_nav a:hover,
         .sub_nav a:active,
         .sub_nav a:focus {
             //            height: 10em;
         }
         .sub_nav a:hover .icon + span {
             //            margin-top: 3.2em;
             transition: margin ease-out .25s;
         }
     }
     .sub_nav_links.active:after {
         bottom: -5px;
     }
     .sub_nav {
         i {
             position: relative;
             display: inline-block;
             margin: 0 auto;
             padding: 0.4em;
             border-radius: 50%;
             font-size: 1.8em;
             box-shadow: 0 0 0 0.8em transparent;
             background: rgba(255, 255, 255, 0.1);
             transform: translate3d(0, 0, 0);
             transition: box-shadow .6s ease-in-out;
         }
     }
     .no-touch .sub_nav a:hover i,
     .no-touch .sub_nav a:active i,
     .no-touch .sub_nav a:focus i {
         box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.2);
         transition: box-shadow .6s ease-in-out;
     }
 }
 
 @media (min-width: 50em) and (max-width: 61.250em) {
     .sub_nav {
         ul {
             font-size: 1.2em;
         }
     }
 }
 
 @media (max-width: 49.938em) {
     .no-touch {
         .sub_nav {
             ul li:nth-child(6n+1) a:hover,
             ul li:nth-child(6n+1) a:active,
             ul li:nth-child(6n+1) a:focus {
                 background: rgb(277, 119, 20);
             }
             ul li:nth-child(6n+2) a:hover,
             ul li:nth-child(6n+2) a:active,
             ul li:nth-child(6n+2) a:focus {
                 background: rgb(245, 160, 41);
             }
             ul li:nth-child(6n+3) a:hover,
             ul li:nth-child(6n+3) a:active,
             ul li:nth-child(6n+3) a:focus {
                 background: rgb(44, 168, 219);
             }
             ul li:nth-child(6n+4) a:hover,
             ul li:nth-child(6n+4) a:active,
             ul li:nth-child(6n+1) a:focus {
                 background: rgb(31, 120, 176);
             }
             ul li:nth-child(6n+5) a:hover,
             ul li:nth-child(6n+5) a:active,
             ul li:nth-child(6n+2) a:focus {
                 background: rgb(39, 70, 90);
             }
             ul li:nth-child(6n+6) a:hover,
             ul li:nth-child(6n+6) a:active,
             ul li:nth-child(6n+3) a:focus {
                 background: rgb(32, 54, 68);
             }
             ul li {
                 transition: background .5s;
             }
         }
     }
 }
 
 @media (min-width: 32.5em) and (max-width: 49.938em) {
     .sub_nav {
         li {
             display: block;
             float: left;
             width: 33.333%;
         }
         a {
             padding: 0.8em;
         }
         li span,
         li span.icon {
             display: inline-block;
         }
         li span.icon {
             width: 50%;
         }
         li .icon + span {
             font-size: 1em;
         }
         li i {
             display: inline-block;
             padding: 8% 9%;
             border: 4px solid transparent;
             border-radius: 50%;
             font-size: 1.5em;
             background: rgba(255, 255, 255, 0.1);
             transition: border .5s;
         }
     }
     .icon + span {
         position: relative;
         top: -0.2em;
     }
     .no-touch .sub_nav li:hover i,
     .no-touch .sub_nav li:active i,
     .no-touch .sub_nav li:focus i {
         border: 4px solid rgba(255, 255, 255, 0.1);
     }
 }
 
 @media (min-width: 32.5em) and (max-width: 38.688em) {
     .sub_nav li span.icon {
         width: 50%;
     }
     .sub_nav li .icon + span {
         font-size: 0.9em;
     }
 }
 
 .sub_nav .sub_nav_toggle {
     display: none;
     width: 100%;
     padding: 0.5em 0.5em 0.8em;
     font-family: sans-serif;
     font-weight: normal;
     text-align: left;
     color: rgb(7, 16, 15);
     font-size: 1.2em;
     background: none;
     border: none;
     border-bottom: 4px solid rgb(221, 221, 221);
     cursor: pointer;
     outline: none;
 }
 
 .sub_nav_toggle i {
     z-index: -1;
 }
 
 .icon-circle-down {
     position: relative;
     top: 3px;
     line-height: 0;
     font-size: 1.6em;
 }
 
 @media (max-width: 32.438em) {
     .sub_nav .sub_nav_toggle {
         margin: 0;
         display: block;
     }
     .no-js .sub_nav ul {
         max-height: 30em;
         overflow: hidden;
     }
     .js .sub_nav ul {
         max-height: 0em;
         overflow: hidden;
     }
     .js .sub_nav .active + ul {
         max-height: 30em;
         overflow: hidden;
         transition: max-height .4s ease-out;
     }
     .sub_nav li span {
         display: inline-block;
         height: 100%;
     }
     .sub_nav a {
         padding: 0.5em;
     }
     .icon + span {
         margin-left: 1em;
         font-size: 0.8em;
     }
     .touch .sub_nav a {
         padding: 0.8em;
     }
 }
 
 .sub_nav_drawer {
     display: block;
     background-color: #efefef;
     //     position: relative;
     //     top: -5em;
     //     padding-top: 5em;
     z-index: -999;
     overflow: hidden;
     height: 0px;
     //     transition: all ease-out .25s;
     &.closed {
         //         height: 0px;
     }
     &.open {
         //         height: 200px;
     }
     .sub_nav_list {
         display: none;
         padding-top: 6em;
     }
 }
 /*-------------------------------------*\
    FILTER NAVIGATION
\*-------------------------------------*/
 
 .product_sheet_filter {
     .search_container {
         position: absolute;
         right: 0;
     }
     .filter_search_results_holder {
         display: none;
         position: absolute;
         left: 0;
         width: 100%;
         margin-top: 20px;
         z-index: 300;
         a {
             color: #555555;
             &:hover {
                 color: #000000;
             }
         }
     }
     .search-input {
         background-color: rgb(40, 40, 40);
         border: 0;
         height: 22px;
         margin-top: 0;
         top: 0;
         padding: 10px;
         color: #ffffff;
         margin: 0;
         display: inline-block;
         float: left;
     }
     .search-submit {
         background-color: rgb(10, 10, 10);
         color: #ffffff;
         border: 0;
         height: 42px;
         margin: 0;
         display: inline-block;
         float: left;
         transition: all ease-out .25s;
         &:after {
             display: block;
             content: '';
             clear: both;
         }
         &:hover {
             background-color: rgb(30, 30, 30);
         }
     }
     position: relative;
     left: 0;
     width: 100%;
     z-index: 2;
     background-color: rgb(60,
     60,
     60);
     text-align: center;
     font-size: 16px;
     ul {
         margin: 0;
         padding: 10px 0;
         display: block;
         li {
             margin: 0;
             padding: 0;
             list-style: none;
             display: inline-block;
             a {
                 color: #ffffff;
                 margin-right: 20px;
                 transition: color ease-out .25s;
                 margin-bottom: 10px;
                 &:hover {
                     color: #dddddd;
                 }
             }
         }
     }
     .menu-item-has-children {
         > a {
             &:after {
                 position: absolute;
                 left: -100000px;
                 top: auto;
                 width: 1px;
                 height: 1px;
                 overflow: hidden;
                 content: ', Click to expand.';
             }
         }
     }
     > ul > li > a {
         border-bottom: 1px solid rgb(60, 60, 60);
         transition: all ease-out .25s;
     }
     .sub-menu {
         display: none;
         position: absolute;
         left: 0;
         margin-top: 20px;
         width: 100%;
         text-align: left;
         z-index: 1;
         a {
             color: #555555;
             padding: 10px;
             &:hover {
                 color: #111111;
             }
         }
         .menu-item-has-children {
             > a {
                 &:before {
                     content: '+';
                     padding-right: 2px;
                     line-height: 18px;
                     vertical-align: top;
                 }
                 &:after {
                     position: absolute;
                     left: -100000px;
                     top: auto;
                     width: 1px;
                     height: 1px;
                     overflow: hidden;
                     content: ', Click to expand.';
                 }
             }
         }
     }
     .sub-menu > li > .sub-menu {
         a {
             color: #ffffff;
         }
     }
     .sub_menu_flag_holder {
         position: absolute;
         left: 0;
         z-index: 300;
         transform: translateX(-200px);
         transition: all ease-out .25s;
         margin-top: 20px;
     }
     .sub_menu_flag {
         padding: 10px;
         transition: transform ease-out .25s;
         line-height: 65px;
         display: inline-block;
     }
     .sub_menu_flag_close {
         display: inline-block;
         padding: 10px 0 10px 7px;
         transform: rotate(45deg);
         cursor: pointer;
         font-size: 26px;
         font-weight: bold;
         line-height: 0px;
     }
     .filter_sub_menu_drawer {
         display: block;
         width: 100%;
         height: 0;
         overflow: hidden;
         position: relative;
         left: 0;
         background-color: rgba(255, 255, 255, 0.8);
         //         transition: height ease-out .25s;
     }
     .filter_sub_sub_menu_drawer {
         display: block;
         width: 100%;
         height: 0;
         overflow: hidden;
         position: relative;
         left: 0;
         background-color: rgba(0, 0, 0, 0.75);
         //         transition: height ease-out .25s;
     }
     .filter_sub_nav_open {
         > a {
             border-bottom-color: #ffffff;
         }
     }
 }
 
 //Loader for Search Results
 .loader_holder {
     position: absolute;
     top: 60px;
     left: 50%;
     transform: translateX(-50%);
     display: none;
 }
 
 .loader:before,
 .loader:after,
 .loader {
     border-radius: 50%;
     width: 1.5em;
     height: 1.5em;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
     -webkit-animation: load7 1.8s infinite ease-in-out;
     animation: load7 1.8s infinite ease-in-out;
 }
 
 .loader {
     color: #777777;
     font-size: 10px;
     margin: 80px auto;
     position: relative;
     text-indent: -9999em;
     -webkit-transform: translateZ(0);
     -ms-transform: translateZ(0);
     transform: translateZ(0);
     -webkit-animation-delay: -0.16s;
     animation-delay: -0.16s;
 }
 
 .loader:before {
     left: -3.5em;
     -webkit-animation-delay: -0.32s;
     animation-delay: -0.32s;
 }
 
 .loader:after {
     left: 3.5em;
 }
 
 .loader:before,
 .loader:after {
     content: '';
     position: absolute;
     top: 0;
 }
 
 @-webkit-keyframes load7 {
     0%,
     80%,
     100% {
         box-shadow: 0 2.5em 0 -1.3em;
     }
     40% {
         box-shadow: 0 2.5em 0 0;
     }
 }
 
 @keyframes load7 {
     0%,
     80%,
     100% {
         box-shadow: 0 2.5em 0 -1.3em;
     }
     40% {
         box-shadow: 0 2.5em 0 0;
     }
 }
 
 .product_sheet_content_holder {
     min-height: 400px;
     position: relative;
 }
 
 .product_sheet_content_loader {
     position: absolute;
     display: none;
     opacity: 0;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 150px;
     height: 100px;
     background-color: rgba(0, 0, 0, 0.5);
     border-radius: 20px;
     .loader {
         top: -60%;
         left: 50%;
         transform: translateX(-50%);
         position: absolute;
         color: #ffffff;
     }
 }
 /* sidebar */
 
 .sidebar {}
 /* footer */
 
 .footer {}
 /*------------------------------------*\
    PAGES
\*------------------------------------*/
 
 .member_logos {
     .item {
         img {
             max-height: 150px;
             width: auto;
             text-align: center;
             margin: 0 auto;
             vertical-align: middle;
             display: inline-block;
             position: relative;
             top: 50%;
             transform: translateY(-50%);
             filter: gray;
             filter: url(./wp-content/themes/raw_premierinc2016/assets/img/desaturate.svg#greyscale);
             filter: grayscale(100%);
             transition: filter ease-out .25s;
             backface-visibility: hidden;
             -webkit-backface-visibility: hidden;
             box-sizing: border-box;
             &:hover {
                 filter: grayscale(0%);
             }
         }
         text-align: center;
         height: 200px;
     }
 }
 /*------------------------------------*\
    PAGES
\*------------------------------------*/
 /*------------------------------------*\
    IMAGES
\*------------------------------------*/
 /*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/
 /*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
 
 @media only screen and (min-width:320px) {}
 
 @media only screen and (min-width:480px) {}
 
 @media only screen and (min-width:768px) {}
 
 @media only screen and (min-width:1024px) {}
 
 @media only screen and (min-width:1140px) {}
 
 @media only screen and (min-width:1280px) {}
 
 @media only screen and (-webkit-min-device-pixel-ratio:1.5),
 only screen and (min-resolution:144dpi) {}
 /*------------------------------------*\
    OWL SLIDER STYLES
\*------------------------------------*/
 
 .owl-controls {
     position: absolute;
     width: 100%;
     top: 50%;
     transform: translateY(-50%);
 }
 
 .owl-nav {
     position: absolute;
     width: 100%;
     height: 100%;
 }
 
 .owl-prev,
 .owl-next {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     padding: 25px;
     background-color: rgba(0, 0, 0, 0.25);
     color: #ffffff;
     font-size: 16px;
     transition: all ease-out .25s;
     &:hover {
         background-color: rgba(0, 0, 0, 0.75);
     }
 }
 
 .owl-prev {
     left: 0;
 }
 
 .owl-next {
     right: 0;
 }
 
 .item {
     padding: 30px;
 }
 
 .slider_overlay {
     width: 100%;
     height: 100%;
     position: absolute;
     opacity: .5;
     top: 0;
     left: 0;
 }
 /*------------------------------------*\
    MISC
\*------------------------------------*/
 
 ::selection {
     background: #04A4CC;
     color: #FFF;
     text-shadow: none;
 }
 
 ::-webkit-selection {
     background: #04A4CC;
     color: #FFF;
     text-shadow: none;
 }
 
 ::-moz-selection {
     background: #04A4CC;
     color: #FFF;
     text-shadow: none;
 }
 /*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
 
 .alignnone {
     margin: 5px 20px 20px 0;
 }
 
 .aligncenter,
 div.aligncenter {
     display: block;
     margin: 5px auto 5px auto;
 }
 
 .alignright {
     float: right;
     margin: 5px 0 20px 20px;
 }
 
 .alignleft {
     float: left;
     margin: 5px 20px 20px 0;
 }
 
 a img.alignright {
     float: right;
     margin: 5px 0 20px 20px;
 }
 
 a img.alignnone {
     margin: 5px 20px 20px 0;
 }
 
 a img.alignleft {
     float: left;
     margin: 5px 20px 20px 0;
 }
 
 a img.aligncenter {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 
 .wp-caption {
     background: #FFF;
     border: 1px solid #F0F0F0;
     max-width: 96%;
     padding: 5px 3px 10px;
     text-align: center;
 }
 
 .wp-caption.alignnone {
     margin: 5px 20px 20px 0;
 }
 
 .wp-caption.alignleft {
     margin: 5px 20px 20px 0;
 }
 
 .wp-caption.alignright {
     margin: 5px 0 20px 20px;
 }
 
 .wp-caption img {
     border: 0 none;
     height: auto;
     margin: 0;
     max-width: 98.5%;
     padding: 0;
     width: auto;
 }
 
 .wp-caption .wp-caption-text,
 .gallery-caption {
     font-size: 11px;
     line-height: 17px;
     margin: 0;
     padding: 0 4px 5px;
 }
 
 .sticky {}
 
 .bypostauthor {}
 /*------------------------------------*\
    PRINT
\*------------------------------------*/
 
 @media print {
     * {
         background: transparent !important;
         color: #000 !important;
         box-shadow: none !important;
         text-shadow: none !important;
     }
     a,
     a:visited {
         text-decoration: underline;
     }
     a[href]:after {
         content: " (" attr(href) ")";
     }
     abbr[title]:after {
         content: " (" attr(title) ")";
     }
     .ir a:after,
     a[href^="javascript:"]:after,
     a[href^="#"]:after {
         content: "";
     }
     pre,
     blockquote {
         border: 1px solid #999;
         page-break-inside: avoid;
     }
     thead {
         display: table-header-group;
     }
     tr,
     img {
         page-break-inside: avoid;
     }
     img {
         max-width: 100% !important;
     }
     @page {
         margin: 0.5cm;
     }
     p,
     h2,
     h3 {
         orphans: 3;
         widows: 3;
     }
     h2,
     h3 {
         page-break-after: avoid;
     }
 }